


  <div id="carouselExampleIndicators" class="carousel slide"  data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('http://mocah.org/uploads/posts/5407111-water-sea-tranquil-ripple-surface-dark-pattern-calm-close-up-abstract-wafe-dark-grey-background-tranquility-nyc-free-pictures.jpg')">
        <div class="carousel-caption ">
          <h3 class="display-4"><b>Library Control</b></h3>
          <p class="lead">Achieve unrivalled  accuracy, complete traceability and full visbility on Library</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://cdn.wallpapersafari.com/11/99/MCTdvm.jpg')">
        <div class="carousel-caption">
          <h3 class="display-4"><b>End To End Tracking</b></h3>
          <p class="lead">Keep track on every book in real time </p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://source.unsplash.com/O7fzqFEfLlo/1920x1080')">
        <div class="carousel-caption">
          <h3 class="display-4"><b>Easy To Use</b></h3>
          <p class="lead">User-friendly UI and Customizable view makes it easy for everyone to use.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>